# Virtual environment
venv/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Testing
.pytest_cache/

# IDE
.vscode/

# Operating system
.DS_Store
Thumbs.db
practice.py
trial.py

# Celery beat schedule files
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir

